.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.account-main {
  grid-area: main;
  padding: 200px;
}

h1 {
  font-size: 24px;
}

.profile-grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
}

.profile-image {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px auto 30px;
}

.profile-image label {
  cursor: pointer;
  margin: 0;
}

label {
  font-family: MuseoSans-500, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  display: block;
  margin: 10px 0 5px;
}

h4,
label {
  color: #7e7e7e;
  text-transform: uppercase;
}


a{
  text-decoration: none !important;
}
a:hover{
  color: #282c34 !important;
}



input {
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 15px 15px 13px;
  font-size: 15px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px !important;
}

.profile-image input {
  display: none;
}

.profile-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.profile-image .button.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 150px;
  top: 150px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image .button.circle span {
  font-size: 18px;
}

.profile-image .button-flat {
  margin: 10px auto;
  display: block;
}

.button-flat {
  margin: 10px auto;
  display: block;
}

.button,
a.button,
button.button {
  font-family: MuseoSans-500, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #7e7e7e;
  border: 1px solid transparent;
  outline: 0;
  text-align: center;
  display: inline-block;
  padding: 10px 12px 9px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all .15s ease;
  box-sizing: border-box;
  white-space: nowrap;
  text-decoration: none;
}

.button.button-flat,
a.button.button-flat,
button.button.button-flat {
  background-color: #fff;
  color: #7e7e7e;
}

.profile-image .button-flat {
  margin: 10px auto;
  display: block;
}

.button,
a.button,
button.button {
  font-family: MuseoSans-500, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #7e7e7e;
  border: 1px solid transparent;
  outline: 0;
  text-align: center;
  display: inline-block;
  padding: 10px 12px 9px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all .15s ease;
  box-sizing: border-box;
  white-space: nowrap;
  text-decoration: none;
}

.small {
  font-size: 12px !important;
}

.profile-details {
  padding-left: 40px;
}

input {
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 15px 15px 13px;
  font-size: 15px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.margin-top-20 {
  margin-top: 20px;
}

input:disabled {
  cursor: default;
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
  color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
  border-color: rgba(118, 118, 118, 0.3);
}

input[type="text" i] {
  padding: 10px 2px;
}

.margin-top-30 {
  margin-top: 30px;
}

.button.button-link,
a.button.button-link,
button.button.button-link {
  color: #7e7e7e;
  padding: 0;
  background-color: transparent;
}

.button,
a.button,
button.button {
  font-family: MuseoSans-500, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #7e7e7e;
  border: 1px solid transparent;
  outline: 0;
  text-align: center;
  display: inline-block;
  padding: 10px 12px 9px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all .15s ease;
  box-sizing: border-box;
  white-space: nowrap;
  text-decoration: none;
}

.margin-top-50 {
  margin-top: 50px;
}
.profile-image .button.circle {
position: absolute;
width: 40px;
height: 40px;
left: 150px;
top: 150px;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: #d17760;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.account-details {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.account-details .user-details-container {
  display: flex;
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.user-details-container {
  display: flex;
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.user-details-container .user-profile-picture img {
  height: 90px;
  width: 90px;
  border-radius: 90px;
  margin-right: 22.5px;
}
.user-details-container .user-info {
  display: flex;
  flex-direction: column;
}

.account-details-section {
  margin-bottom: 60px;
}
.settings-section * {
  box-sizing: border-box;
}



.notification-preferences .collapsible-item.collapsed {
    min-height: 37px;
    max-height: 37px;
    overflow: auto;
}
.notification-preferences .np-grid-container {
  display: grid;
  grid-template-columns: auto repeat(3,90px);
  grid-template-rows: 35px;
  border-bottom: 1px solid #e6e6e6;
}
.notification-preferences .np-grid-container .np-grid-item.np-section-header {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border-bottom: none;
  padding-left: 10px;
}
.notification-preferences .np-grid-container .np-grid-item.np-section-header.np-section-toggle .icon-chevron-up {
  color: #999;
  margin-right: 10px;
  transform: rotate(0);
  transition: all 150ms ease-out;
}
.notification-preferences .np-grid-container .np-grid-item.np-setting-column {
  padding: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}
.notification-preferences .np-grid-container .np-grid-item.np-setting-column {
  padding: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.notification-preferences .np-grid-container .np-grid-item.np-setting-column {
  padding: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}
.notification-preferences .np-grid-container .np-grid-item.np-section-header {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f7f7f7;
  border-bottom: none;
  padding-left: 10px;
}
.notification-preferences .np-grid-container {
  display: grid;
  grid-template-columns: auto repeat(3,90px);
  grid-template-rows: 35px;
  border-bottom: 1px solid #e6e6e6;
}